.empty{
    height:400px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}
.wrapper-menu-product{
    padding:50px 100px;
}
.wrapper-category-product{
    padding:50px 100px;
}
.title-card-product{
    color:black
}
.title-card-product:hover{
    color:#5142FC
}
@media only screen and (max-width:1024px) {
    .wrapper-menu-product{
        padding:50px 30px;
    }
    .wrapper-category-product{
        padding: 50px 30px;
    }
}
.review{
    border-bottom: 1px solid #DDE1EF;
    margin-bottom: 16px;
}
.review-block{
    font-size: 16px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
   
}
.review-avt {
    font-size: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: left;
    margin: 0 8px;
    color: tan;
}
.review-name{
    font-weight: 600;
    margin: 0 8px 0 2px;
}
.review-star{
    display: inline-flex;
    align-items: center;
    justify-content: left;
    padding: 0px 0 4px 0;
    flex: 1;
}
.review-comment{
    font-size: 16px;
    margin-left: 50px;
    margin-bottom: 12px;
}

.date-start{
    font-size: 13px;
    margin-left: 50px;
    margin-bottom: 4px;
}
.button_add_cart{
    color: rgb(31, 25, 25);
    position: absolute;
    bottom: 0;
    right: 10px;
    margin-bottom: 16px;
    border-radius: 10px;
    border: solid 1px #5a8ce9;
    background-color: #6e9bf0;
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}